@import "tailwindcss";
button {
  cursor: pointer;
}

@tailwind utilities;

@layer utilities {
  .animate-slide-in-right {
    @apply transition-transform duration-300 ease-out;
    transform: translateX(100%);
    animation: slideInRight 0.3s forwards;
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
